In [2]:
import pandas as pd

df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [92]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts().values
race_count

array([27816,  3124,  1039,   311,   271], dtype=int64)

In [9]:
# What is the average age of men?
average_age_men = df.loc[df["sex"] == "Male", "age"].mean().round(1)
average_age_men

39.4

In [10]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (df["education"].value_counts(normalize=True) * 100).round(1)["Bachelors"]
percentage_bachelors

16.4

In [12]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education = df.loc[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]   

# percentage with salary >50K
higher_education_rich = higher_education.loc[higher_education["salary"] == ">50K"].shape[0] / higher_education.shape[0] * 100
lower_education_rich = lower_education.loc[lower_education["salary"] == ">50K"].shape[0] / lower_education.shape[0] * 100

higher_education_rich = round(higher_education_rich, 1)
lower_education_rich = round(lower_education_rich, 1)
higher_education_rich, lower_education_rich

(46.5, 17.4)

In [14]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [94]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[(df["hours-per-week"] == min_work_hours) & (df["salary"] == ">50K")].shape[0]

rich_percentage = num_min_workers / df.loc[df["hours-per-week"] == min_work_hours].shape[0] * 100
rich_percentage

10.0

In [133]:
# What country has the highest percentage of people that earn >50K?

salary_by_country = df.groupby("native-country")["salary"].value_counts(normalize=True).unstack()
highest_earning_country = salary_by_country[">50K"].idxmax()
highest_earning_country_percentage  = round(salary_by_country[">50K"].max() * 100, 1)
print(highest_earning_country, highest_earning_country_percentage)

Iran 41.9

In [77]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K"), "occupation"].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'